# Ignorar o ambiente virtual
.venv/
venv/

# Ignorar arquivos de cache do Python
__pycache__/
*.py[cod]

# Ignorar arquivos de configuração do ambiente
.env

# Ignorar arquivos de log (se houver)
*.log

# Ignorar arquivos de banco de dados SQLite (se houver)
*.sqlite3
